/* Stiziles */

html, body {
  background: #222222;
}

/* main */

.main {
  width: 100%;
  height: 100%;
  background: #222222;
  color: #fff;
}

.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}


.TictactoeApp {
  display: flex;
  flex-flow: row wrap;  
  width: 80vw;
  height: 80vh;


}

.Square {
  width: 25vw;
  height: 25vh;
  background-color: red;
  font-size: 25vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 25vh;
}
